/* --------------- Fonts used : Poppins + Abril Fatface --------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&display=swap"); /* --------------- Website Theme --------------- */

:root {
  /* lila-yellow  */
  /* --hue-1: 257;
  --hue-2: 47; */

  /* blue-yellow */
  --hue-1: 208; /* #1e3d59 */
  --hue-2: 41; /* #ffc13b */

  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);

  /* beige-gray */
  /* #e4e3e0 */
  /* #d1bc8a */
  /* --hue-1: 35;
  --hue-2: 42;

  --main-color-1: hsl(var(--hue-1), 60%, 64%);
  --main-color-dark-1: hsl(var(--hue-1), 52%, 54%);
  --main-color-2: hsl(var(--hue-2), 11%, 87%);
  --main-color-dark-2: hsl(var(--hue-2), 6%, 80%); */

  --section-padding: 7rem;
  --time-1: 0.3s;
  --time-2: 0.5s;
}

body {
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 63%);
}

body.dark {
  --bg-color: hsl(var(--hue-1), 19%, 15%);
  --bg-color-1: hsl(var(--hue-1), 21%, 11%);
  --bg-color-2: hsl(var(--hue-1), 23%, 19%);
  --bg-color-3: hsl(var(--hue-1), 23%, 24%);
  --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
  --heading-color: hsl(var(--hue-1), 100%, 95%);
  --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark .st1 {
  fill: hsl(var(--hue-1), 18%, 29%);
}

body.dark .shape.square {
  opacity: 0.07;
}

body.dark .toggle-btn {
  background-color: var(--bg-color-3);
}

body.dark .toggle-btn:hover {
  background-color: brightness(110%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
  opacity: 0.6;
}

body.dark .form-input:hover {
  filter: brightness(110%);
}

/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg-color);
  font-family: "Poppins", sans-serif;
  transition: background-color var(--time-1); /* for theme change */
}

body.stopScrolling {
  height: 100%;
  overflow: hidden;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */

.container {
  position: relative;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.section {
  position: relative;
  padding: var(--section-padding) 0;
  width: 100%;
  min-height: 100vh;
}

.logo {
  margin-right: 1.5rem;
  font-family: "Quicksand", cursive;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--heading-color);
  letter-spacing: 1px;
  transition: var(--time-1);
}

.logo span {
  color: var(--main-color-1);
}

.sub-heading {
  color: var(--heading-color);
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  border-left: 3px solid var(--main-color-2);
  padding: 0.13rem 0.75rem;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: color var(--time-1); /* for theme change */
}

.heading {
  color: var(--heading-color);
  font-size: 3rem;
  font-family: "Quicksand", cursive;
  font-weight: 500;
  line-height: 1.3;
  transition: color var(--time-1); /* for theme change */
}

.text {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 2rem 0;
  line-height: 2.3;
  transition: color var(--time-1); /* for theme change */
}

/* Buttons */
.cta {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
}

.cta .btn {
  margin-right: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.75rem;
  border-radius: 17px;
  background-color: var(--main-color-1);
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  min-width: 125px;
  text-align: center;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
  transition: var(--time-1);
}

.btn:hover {
  background-color: var(--main-color-dark-1);
}

.btn.secondary-btn {
  position: relative;
  background-color: transparent;
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0px;
  border-bottom: 2.5px solid var(--main-color-2);
  border-radius: 0;
  padding: 0.15rem 0;
  min-width: revert;
}

.btn.secondary-btn::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  bottom: -2.5px;
  left: 0;
  background-color: var(--main-color-1);
  transition: var(--time-1) ease-in-out;
}

.btn.secondary-btn:hover::before {
  width: 100%;
}

.btn.secondary-btn.sm {
  padding: 0.07rem 0.1rem;
  font-size: 0.78rem;
  border-bottom-width: 2px;
}

.btn.secondary-btn.sm::before {
  height: 2px;
  bottom: -2px;
}

/* MixItUp Buttons */
.filter-btn {
  display: inline-block;
  color: var(--heading-color);
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-left: 1.3rem;
  font-family: inherit;
  text-transform: uppercase;
  transition: color var(--time-1); /* for theme change */
}

.filter-btn.mixitup-control-active {
  color: var(--main-color-1);
}

/* Forms */
.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background-color: var(--bg-color-3);
  border: 2px solid var(--bg-color-3);
  width: 100%;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--heading-color);
  outline: none;
  transition: var(--time-1);
}

.form-input::placeholder {
  color: var(--text-color);
}

.form-input:hover {
  filter: brightness(97%);
}

.form-input:valid,
.form-input:focus {
  filter: brightness(100%);
  background-color: var(--bg-color-1);
  border-color: var(--main-color-1);
}

/* --------------- Navbar Styling --------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: var(--time-1);
}

header.scrolled {
  background-color: var(--bg-color-transparent);
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
}

nav.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .logo {
  height: 120px;
  line-height: 120px;
}

header.scrolled .logo {
  height: 80px;
  line-height: 80px;
}

.links {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.links ul li:nth-child(3),
.links ul li:nth-child(5) {
  display: none;
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--text-color);
  font-weight: 500;
  opacity: 0.9;
  transition: var(--time-1);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -5px;
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: var(--main-color-1);
  z-index: -1;
  opacity: 0;
  transition: var(--time-1);
}

.nav-link:hover,
.nav-link.active {
  color: var(--heading-color);
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
  opacity: 0.2;
}

.toggle-btn {
  color: var(--heading-color);
  min-width: 40px;
  height: 40px;
  background-color: var(--bg-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  transition: var(--transition);
  margin-right: 1rem;
}

.toggle-btn:hover {
  filter: brightness(97%);
}

.hamburger {
  display: none;
  padding: 1rem 0;
  height: 12px;
  width: 25px;
  box-sizing: content-box;
  cursor: pointer;
  position: relative;
}

.hamburger .bar {
  width: 100%;
  height: 2px;
  background-color: var(--heading-color);
  border-radius: 3px;
  position: absolute;
}

.hamburger .bar:first-child {
  top: 1rem;
  transition: top 0.2s 0.15s, transform 0.3s;
}

.hamburger .bar:last-child {
  bottom: 1rem;
  transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburger .bar:first-child {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  transition: bottom 0.2s, transform 0.3s 0.1s;
}

/* --------------- Showcase Area Styling --------------- */

.showcase-area {
  padding: 120px 0;
  width: 100%;
  overflow: hidden;
  position: relative; /* for shape svg */
}

.showcase-area .container {
  display: grid;
  grid-template-columns: 1fr 550px;
  height: calc(100vh - 120px);
  height: 600px; /* for responsive */
  /* max-height: 600px; */
  align-items: center;
}

.showcase-area .sub-heading {
  margin-bottom: 0.7rem;
}

.showcase-area .heading {
  font-size: 3.5rem;
  margin-bottom: 1.5rem;
}

.showcase-area .text {
  margin: 0.8rem 0;
}

.showcase-image {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 120px);
  background-image: linear-gradient(
    124deg,
    var(--main-color-1),
    var(--main-color-2)
  );
  margin-top: -120px;
  border-radius: 0 0 80px 80px;
}

.showcase-image .person {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 80px 80px;
}

/* --------------- About Section Styling --------------- */

.about .container {
  /* position: relative; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-y: scroll;
  height: calc(100vh - 80px);
  scroll-snap-type: y mandatory; /* For snapping timespan */
  /* snap when scrolling */
  scroll-snap-align: end;
  scroll-snap-stop: always;

  scrollbar-width: thin; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.about .container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
  width: 0.5em; /* Adjust the width as per your preference */
  background-color: transparent; /* Hide the scrollbar track */
}

.about .container::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the scrollbar thumb */
}

.arrows {
  all: unset;
  color: var(--heading-color);
}

.top-icon {
  display: none;
  position: absolute;
  font-size: 4rem;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

.bottom-icon {
  display: none;
  font-size: 4rem;
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

.about-timeline {
  margin: 500px auto;
  max-width: 500px;
}

.timespan {
  max-width: 450px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  /* cursor: pointer; */
  border: 2px solid var(--bg-color-2);
  background-color: transparent;
  border-radius: 20px;
  /* snap when scrolling */
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.timespan-txt {
  display: none;
}

.line {
  position: relative;
  margin: auto;
  width: 2px;
  height: 100px;
  background-color: var(--bg-color-2);
  transition: var(--time-1);
}

.timespan.active {
  background-color: var(--bg-color-2);
}

.timespan .sub-heading {
  border: none;
  margin-bottom: 0;
}

.timespan .heading {
  font-size: 2rem;
  border: none;
  margin-bottom: 0;
}

.about-info {
  height: 100%;
  margin-left: 4rem;
}

.timeline-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
  width: 600px;
}

.info-container {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 2px solid var(--bg-color-2);
  background-color: var(--bg-color-2);
  border-radius: 20px;
}

.about .text {
  margin: 3rem 2rem;
}

.about .cta {
  margin-top: 0;
}

/* --------------- Skills Section Styling --------------- */

.skills {
  overflow: hidden;
}

.skills-box {
  background-color: var(--bg-color-2);
  padding: 5rem 6rem;
  border-radius: 20px;
  width: 100%;
  position: relative; /* for shape svg */
  transition: background-color var(--time-1); /* for theme change */
}

.box-desc {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  column-gap: 2rem;
}

.skills-wrap {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  margin-top: 2rem;
  justify-content: space-between;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sk-progress {
  width: 150px;
  height: 150px;
  position: relative;
}

.sk-progress svg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.sk-progress svg circle {
  fill: var(--bg-color-3);
  stroke-width: 5px;
  stroke: var(--main-color-1);
  stroke-linecap: round;
  stroke-dasharray: 427;
  stroke-dashoffset: 427;
  transition: var(--time-1); /* for theme change */
}

@keyframes progress {
  to {
    stroke-dashoffset: var(--target);
  }
}

.counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--heading-color);
  font-size: 0.9rem;
  font-weight: 400;
  transition: color var(--time-1); /* for theme change */
}

.counter span {
  font-size: 2.45rem;
}

.sk-title {
  color: var(--heading-color);
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.75rem;
  transition: color var(--time-1); /* for theme change */
}

/* --------------- Sevices Section Styling --------------- */

.services .container {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  column-gap: 2rem;
  align-items: center;
}

.milestones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  justify-items: flex-start;
}

.milestones h2 {
  color: var(--heading-color);
  font-size: 1.3rem;
  transition: color var(--time-1); /* for theme change */
}

.milestones h2 span {
  font-size: 2rem;
  line-height: 1.2;
  margin-right: 0.1rem;
  transition: color var(--time-1); /* for theme change */
}

.milestones h5 {
  color: var(--heading-color);
  line-height: 0.9;
  font-size: 0.95rem;
  font-weight: 500;
  transition: color var(--time-1); /* for theme change */
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 4.4rem;
  position: relative;
}

.srv-card {
  background-color: var(--bg-color-2);
  border-radius: 15px;
  padding: 2.5rem 2.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 280px;
  transition: background-color var(--time-1); /* for theme change */
}

.srv-card h3 {
  color: var(--heading-color);
  font-size: 1.05rem;
  font-weight: 500;
  transition: color var(--time-1); /* for theme change */
}

.srv-card .text {
  margin: 0.7rem 0;
  font-size: 0.7rem;
}

.srv-card:nth-child(2) {
  transform: translateY(2.2rem);
}

.srv-card:nth-child(3) {
  transform: translateY(-2.2rem);
}

.services-grid::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid var(--main-color-1);
  z-index: -1;
  opacity: 0.07;
}

/* --------------- Details Section Styling --------------- */

.details .container {
  display: grid;
  grid-template-columns: 1.05fr 1fr;
  align-items: center;
}

.details-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.5rem 0;
}

.details .filter-btn {
  margin-top: 2.5rem;
}

.details-swiper {
  width: 500px;
  height: 450px;
  padding: 2.5rem 0 2.5rem;
}

.details .swiper-slide {
  padding: 0 2.5rem;
}

.details .swiper-slide .text {
  display: block;
  margin: 0;
}

.details .cta {
  margin-top: 0;
}

.details-grid {
  display: grid;
  grid-template-columns: 190px 190px;
  grid-template-rows: 190px 190px;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 100px;
  margin-right: 2rem;
  position: relative;
}

.details-card {
  background-color: var(--bg-color-2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform var(--time-2) /* for hoover */,
    background-color var(--time-1) /* for theme change */;
}

.details-card.active {
  transform: scale(1.1);
}

.details-card.active .st2 {
  fill: var(--main-color-1);
}

.details-card:nth-child(1) {
  border-radius: 40px 40px 5px 40px;
}

.details-card:nth-child(2) {
  margin-top: 50px;
  border-radius: 40px 40px 40px 5px;
}

.details-card:nth-child(3) {
  margin-top: -50px;
  border-radius: 40px 5px 40px 40px;
}

.details-card:nth-child(4) {
  border-radius: 5px 40px 40px 40px;
}

.icon {
  width: 60px;
}

.st0 {
  fill: var(--bg-color-3);
  transition: fill var(--time-1); /* for theme change */
}

.st1 {
  fill: #c5e3ea;
  transition: fill var(--time-1); /* for theme change */
}

.st2 {
  fill: var(--heading-color);
  transition: var(--time-1);
}

.details-card h3 {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  letter-spacing: 0.3px;
  transition: color var(--time-1); /* for theme change */
}

.details-card:hover {
  transform: scale(1.1);
}

.details-card:hover .st2 {
  fill: var(--main-color-1);
}

.details-grid::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 15px solid var(--main-color-1);
  z-index: -1;
  opacity: 0.07;
}

.details-pagination {
  display: none;
  margin: 1rem 0 2rem;
}

/* --------------- Portfolio Section Styling --------------- */

.portfolio .container {
  transition: 0.4s;
}

.portfolio-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.portfolio-title {
  padding-bottom: 1rem;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.prt-card {
  height: 265px;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 15px;
  overflow: hidden;
  background-color: var(--bg-color-2);
  cursor: pointer;
  transition: background-color var(--time-1); /* for theme change */
}

.prt-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.prt-image img {
  width: 105%;
}

.prt-desc {
  padding: 1.1rem 1.6rem;
  display: flex;
  justify-content: space-between;
}

.prt-desc h3 {
  color: var(--heading-color);
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: capitalize;
}

.prt-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  backdrop-filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: var(--time-2);
}

.prt-image:hover .prt-overlay {
  background-color: var(--bg-color-transparent);
  backdrop-filter: blur(10px);
  pointer-events: auto;
}

.prt-icon {
  font-size: 1.1rem;
  color: var(--heading-color);
  margin: 0 0.4rem;
  background-color: var(--main-color-2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transform: translateY(15px);
  opacity: 0;
  transition: var(--time-1);
}

.prt-icon:hover {
  background-color: var(--main-color-dark-2);
}

.prt-image:hover .prt-icon {
  opacity: 1;
  transform: translateY(0px);
  transition: var(--time-1) var(--i);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 11;
  pointer-events: none;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  transition: var(--time-1);
}

.slider-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 400px));
  width: 90%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  justify-items: center;
  opacity: 0;
  transition: 0.2s;
}

.slider-wrap img {
  width: 100%;
  display: none;
  border-radius: 10px;
}

.navigation {
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 2rem;
}

.slider-wrap img.showImage {
  display: block;
}

.portfolio.open .modal {
  pointer-events: auto;
}

.portfolio.open .modal-overlay {
  opacity: 1;
}

.portfolio.open .container {
  transform: scale(0.9);
}

.portfolio.open .slider-wrap {
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: 0.45s 0.1s;
}

/* --------------- Testimonials Section Styling --------------- */

.testimonials {
  overflow: hidden;
  padding: var(--section-padding) 0 calc(var(--section-padding) + 120px);
}

.testimonials .container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
}

.testimonials-swiper {
  width: 600px;
  background-color: var(--bg-color-2);
  border-radius: 15px;
  padding: 4rem 0 2.5rem;
  transition: background-color var(--time-1); /* for theme change */
}

.testimonials .swiper-slide {
  padding: 0 2.5rem;
}

.client {
  display: grid;
  grid-template-columns: 85px 1fr;
  align-items: center;
  gap: 1.5rem;
}

.client img {
  width: 100%;
}

.client-info h4 {
  font-weight: 500;
  color: var(--heading-color);
  margin-bottom: 0.3rem;
  font-size: 1.05rem;
  transition: color var(--time-1); /* for theme change */
}

.client-info h5 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.8rem;
  transition: color var(--time-1); /* for theme change */
}

.client-info h5 a {
  color: var(--main-color-1);
}

.testimonials .swiper-slide .text {
  display: block;
  margin: 1.5rem 0 0;
}

.testimonials .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 11px;
  margin-top: 3rem;
}

.swiper-pagination-bullet {
  background-color: var(--main-color-1);
  opacity: 0.3;
  width: 7px;
  height: 7px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 11px;
  height: 11px;
}

.testimonials-title {
  padding-left: 5rem;
}

.testimonials-title > * {
  color: #fff;
}

.section-background {
  position: absolute;
  width: 100vw;
  max-width: 75rem;
  height: calc(100% + 120px);
  top: 15px;
  left: 50%;
  transform: translateX(calc(-50% + 120px));
  background-image: linear-gradient(
    55deg,
    var(--main-color-2),
    var(--main-color-1)
  );
  border-bottom-left-radius: 60px;
  z-index: -1;
}

.section-background .person {
  position: absolute;
  height: 450px;
  bottom: 0;
  right: 0;
}

/* --------------- Contact Section Styling --------------- */

.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.mail {
  color: var(--main-color-1);
  font-weight: 500;
  font-size: 1.1rem;
  transition: var(--time-1);
}

.mail i {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2px;
  transform: translateY(3px);
  transition: margin-left var(--time-1);
}

.mail:hover i {
  color: var(--main-color-dark-1);
  margin-left: 10px;
}

.contact-form {
  background-color: var(--bg-color-2);
  border-radius: 20px;
  padding: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  transition: background-color var(--time-1); /* for theme change */
}

.contact-form h3 {
  color: var(--heading-color);
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 1.6rem;
  line-height: 0.9;
  transition: color var(--time-1); /* for theme change */
}

textarea.form-input {
  resize: none;
  min-height: 170px;
}

.contact-form .form-input {
  margin-bottom: 1.5rem;
}

/* --------------- Subscription Section Styling --------------- */

.subscription {
  overflow: hidden;
}

.sub-box {
  background-color: var(--bg-color-2);
  border-radius: 20px;
  padding: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;
  align-items: center;
  transition: background-color var(--time-1); /* for theme change */
}

.sub-box form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 1rem;
}

.subscription .map {
  position: absolute;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.15;
}

/* --------------- Footer Styling --------------- */

footer {
  padding: 4rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-media {
  display: flex;
}

.social-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 1rem;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--time-1);
}

.social-link:hover {
  background-color: var(--main-color-1);
  /* color: var(--main-color-1); */
}

/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {
  /* General Styles */
  .sub-heading {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 2rem;
  }

  .text {
    font-size: 0.84rem;
    margin: 1.3rem 0;
  }

  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 0.8rem;
    min-width: 100px;
    border-radius: 15px;
  }

  .btn.secondary-btn {
    font-size: 0.85rem;
  }

  .form-input {
    padding: 0.8rem 1.45rem;
    font-size: 0.8rem;
    border-radius: 15px;
  }

  /* Navbar Styling */
  .logo {
    font-size: 1.45rem;
  }

  header .logo {
    height: 100px;
    line-height: 100px;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  /* Showcase Area Styling */
  .showcase-area .heading {
    font-size: 2.7rem;
  }

  .showcase-area {
    padding: 100px 0;
  }

  .showcase-area .container {
    grid-template-columns: 1fr 400px;
    height: 450px;
  }

  /* About Section Styling */

  .about-timeline .heading {
    font-size: 1.5rem;
  }

  .about .container {
    scroll-snap-align: end;
  }

  .top-icon {
    top: 100px;
  }

  .bottom-icon {
    bottom: 100px;
  }

  .about-info {
    /* width: 400px; */
    margin-left: 2rem;
  }

  .timeline-swiper .swiper-wrapper {
    width: 400px;
  }

  /* Skills Section Styling */
  .skills-box {
    padding: 4rem;
  }

  .sk-progress {
    transform: scale(0.85);
  }

  /* Services Section Styling */
  .services .container {
    column-gap: 2.5rem;
  }

  /* Portfolio Section Styling */
  .filter-btn {
    font-size: 0.7rem;
  }

  /* Contact Section Styling */
  .contact .container {
    column-gap: 2.5rem;
  }

  .contact-form {
    padding: 2.5rem 2rem;
  }

  .contact-form h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .contact .form-input {
    margin-bottom: 0.8rem;
  }

  .sub-box {
    padding: 3.5rem 2.5rem;
    column-gap: 2rem;
  }
}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {
  :root {
    --section-padding: 4.5rem;
  }

  /* Mobile Navigation */
  .hamburger {
    display: block;
  }

  header {
    height: 505px;
    max-height: 100px;
    overflow: hidden;
  }

  header.scrolled {
    height: 485px;
    max-height: 80px;
  }

  header nav {
    justify-content: space-between;
  }

  body.open header {
    max-height: 505px;
    background-color: var(--bg-color-2);
  }

  body.open .overlay {
    opacity: 1;
    pointer-events: auto;
  }

  body.open .links {
    opacity: 1;
  }

  body.open .links ul::after {
    opacity: 0.7;
    width: 100%;
  }

  body.open header.scrolled {
    max-height: 485px;
  }

  .links {
    order: 3;
    flex-basis: 100%; /* 100% of the width */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0 2rem;
    opacity: 0;
    transition: var(--time-1);
  }

  .links ul {
    position: relative;
    flex-direction: column;
  }

  .nav-link {
    margin: 1.5rem 0;
    color: var(--heading-color);
    font-weight: 500;
  }

  .toggle-btn {
    margin: 0;
  }

  .links ul::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    background-color: var(--heading-color);
    top: -0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: var(--time-1);
  }

  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 6;
    opacity: 0;
    transition: var(--time-1);
    pointer-events: none;
  }

  /* Showcase Area Styling */
  .showcase-area .container {
    grid-template-columns: 1fr;
    height: revert;
    justify-items: center;
    row-gap: 4rem;
  }

  .showcase-image {
    min-height: revert;
    height: 100vw;
    max-height: 570px;
    max-width: 450px;
    margin-top: 0px;
    border-radius: 40px;
  }

  .showcase-image .person {
    border-radius: 40px;
  }

  .showcase-info {
    width: 100%;
    margin-top: 1rem;
  }

  .showcase-area .text {
    margin: 0.2rem 0;
  }

  .cta {
    margin-top: 1rem;
  }

  /* About Section Styling */

  .about-timeline {
    margin: 500px auto;
  }

  /* Skills Section Styling */

  .box-desc {
    grid-template-columns: 1fr;
    justify-items: flex-start;
  }

  .skills-wrap {
    grid-template-columns: repeat(2, 150px);
    row-gap: 1rem;
    justify-content: space-evenly;
  }

  .sk-title {
    margin-top: 0;
  }

  /* Details Section Styling */
  .details .container {
    grid-template-columns: 1fr;
  }

  .details-grid {
    order: 3;
  }

  .heading br {
    display: none;
  }

  .details .text {
    margin: 1rem 0 1.5rem;
  }

  .details-title {
    text-transform: capitalize;
    font-weight: 600;
    font-style: bold;
    color: var(--heading-color);
  }

  .details-grid {
    /* grid-template-columns: 150px 150px;
    grid-template-rows: 150px 150px;
    margin: 2.5rem 0 0 0;
    column-gap: 2rem;
    row-gap: 80px; */
    display: none;
  }

  .icon {
    width: 50px;
  }

  .details-card h3 {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }

  .details-grid::before {
    width: 150px;
    height: 150px;
    border-width: 10px;
  }

  .details-pagination {
    display: block;
  }

  /* Services Section Styling */

  .services .container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .services .text {
    margin: 1.5rem 0 0.5rem;
  }

  .services-grid {
    margin-top: 3.5rem;
    column-gap: 1.5rem;
    row-gap: 3.5rem;
    max-width: 600px;
  }

  .srv-card {
    padding: 1.8rem 1.7rem;
    min-height: 260px;
  }

  .srv-card .text {
    margin: 0.4rem 0 0.8rem;
  }

  /* Portfolio Section Styling*/

  .portfolio-title {
    padding-bottom: 0;
  }

  /* Testimonials Section Styling */
  .testimonials {
    padding: var(--section-padding) 0;
  }

  .testimonials .container {
    position: revert;
    max-width: 620px;
    grid-template-columns: 1fr;
  }

  .section-background {
    height: 600px;
    transform: translateX(0);
    top: 0;
    left: 0;
    border-radius: 0;
    background-image: linear-gradient(
      45deg,
      var(--main-color-2),
      var(--main-color-1)
    );
  }

  .section-background .person
  /* .section-background .circle  */ {
    display: none;
  }

  .testimonials-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0 3rem 0;
  }

  .testimonials-swiper {
    width: 500px;
    order: 2;
    padding: 2rem 0;
  }

  .swiper-slide {
    padding: 0 2rem;
  }

  .swiper-slide .text {
    margin: 1rem 0 0;
  }

  .swiper-pagination {
    margin-top: 3rem;
  }

  .client {
    grid-template-columns: 65px 1fr;
  }

  .client-info h4 {
    margin-bottom: 0.2rem;
    font-size: 0.97rem;
  }

  .client-info h5 {
    font-size: 0.7rem;
  }

  /* Contact Section Styling */
  .contact .container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  /* Subscription Section Styling */
  .sub-box {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .sub-box .heading {
    margin-top: 0;
  }
}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
  /* Global Styling */
  .container {
    padding: 0 1rem;
  }

  /* Showcase Area Styling */

  .showcase-area .container {
    row-gap: 4.5rem;
  }

  .showcase-area .heading {
    font-size: 2.4rem;
  }

  /* About Section Styling */

  .about .container {
    grid-template-columns: 1fr;
  }

  .about-timeline {
    margin: 400px auto;
  }

  .timespan {
    padding: 2rem 0;
  }

  .timespan-txt {
    display: block;
  }

  .about .text {
    margin: 2rem 1rem 0;
  }

  .about-info {
    display: none;
  }

  /* Skills Section Styling */

  .skills-box {
    padding: 3rem 2.5rem;
  }

  .skills-wrap {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  /* Services Section Styling */
  .services-grid {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .srv-card {
    transform: none !important;
    min-height: auto;
  }

  /* Details Section Styling */

  .details-info {
    text-align: center;
    margin: auto;
  }

  .details-swiper {
    width: 400px;
    height: auto;
  }

  .details-swiper .swiper-slide {
    height: 100%;
  }

  .details-pagination {
    position: relative;
    margin: 2rem auto 0;
  }

  /* Portfolio Section Styling */

  .portfolio-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .portfolio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-btn {
    margin-top: 1rem;
  }

  .portfolio .slider-wrap {
    width: calc(100% - 2rem);
    grid-template-columns: 50px 1fr 50px;
  }

  .images {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .prev-btn {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    color: #333;
  }

  .next-btn {
    grid-column: 3/4;
    grid-row: 1/2;
    z-index: 1;
    color: #333;
  }

  /* Testimonials Section Styling */

  .testimonials-swiper {
    width: 345px;
    order: 2;
    padding: 2rem 0;
  }

  /* Contact Section Styling */

  .contact-form p {
    font-size: 1.2rem;
  }

  /* Subscription Section Styling */
  .sub-box {
    padding: 3rem 2.2rem;
    row-gap: 0.5rem;
  }

  .sub-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sub-box .heading {
    font-size: 1.7rem;
  }

  .subscription form {
    grid-template-columns: 1fr;
    row-gap: 1opx;
    justify-items: center;
  }

  /* Footer Styling */

  footer {
    padding: var(--section-padding) 0 1rem;
  }

  footer .text {
    order: 3;
    flex-basis: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}
